@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-800
}

.expand-on-hover-10 {
  @apply transition-transform duration-300 scale-100 hover:scale-110;
}

.expand-on-focus-10 {
  @apply transition-transform duration-200 scale-100 focus:scale-110;
}

.expand-on-focus-1 {
  @apply transition-transform duration-300 scale-100;
}

.expand-on-focus-1:focus {
  transform: scale(101%);
}


.select-group-selected {
  @apply font-bold scale-125 text-white;
}

.select-group-not-selected {
  @apply text-zinc-500;
  
  /* expand-on-focus-25 */
  @apply transition-transform duration-300 scale-100 hover:scale-125;
}

.vis {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms linear;
}

.hid {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 300ms, opacity 300ms linear;
}

/*

.fadeElement {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}

.fadeElement.fadeIn {
  opacity: 1;
  visibility: visible;
}

.fadeElement.fadeOut {
  opacity: 0;
  visibility: hidden;
}
*/

/*
.fadeOut {
  animation: fadeOut 300ms ease;
  @apply invisible
}
@keyframes fadeOut {
  0% {
    @apply opacity-100 visible
  }

  99% {
    @apply opacity-0
  }

  100% {
    @apply opacity-0 invisible
  }
}

.fadeIn {
  animation: fadeIn 300ms ease;
}
@keyframes fadeIn {
  0% {
    @apply opacity-0 visible
  }

  100% {
    @apply opacity-100
  }
}
*/